<div class="footer-content">
    <div class="footer-info">
        <a class="footer-logo" href="index.html">TANSOTECH</a>
        <p>주식회사 탄소테크 | 대표이사: 임경현</p>
        <p style="font-size: 0.8rem; opacity: 0.7; margin-top: 10px;">
            사업자 등록 번호: 339-87-02343<br />
            주소: 서울특별시 서초구 논현로 17길 10, 3층(양재동, 재호빌딩)
        </p>
    </div>
    <div class="footer-links">
        <h4>메뉴</h4>
        <a href="index.html">탄소테크</a>
        <a href="tree.html">나무(탄소상쇄)</a>
        <a href="solar.html">태양광 에너지</a>
    </div>
</div>